* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eaf4fb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.barra-azul {
    background-color: #463dfb; 
    padding: 10px 0; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.imagen-logo {
    height: 130px; 
    width: auto;
    display: block;
    margin: 0 auto;
}
.contenedor-flexible {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.tarjeta-blanca {
    background-color: #ffffff;
    width: 100%;
    max-width: 480px;
    padding: 60px 40px;
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.07);
    text-align: center;
}

.titulo {
    font-size: 26px;
    color: #000000;
    margin-bottom: 20px;
    font-weight: 700;
}

.instrucciones {
    color: #8e8e8e;
    font-size: 16px;
    line-height: 1.5;
    max-width: 320px;
    margin: 0 auto 40px auto;
}

.entrada-email {
    width: 100%;
    padding: 18px;
    border: 1.5px solid #dcdcdc;
    border-radius: 12px;
    font-size: 14px;
    outline: none;
    margin-bottom: 25px; 
}


.boton-confirmar {
    width: 100%;
    padding: 16px;
    background-color: #463dfb; 
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 30px;
    transition: background-color 0.3s ease;
}

.contenedor-volver {
    display: flex;
    justify-content: center;
}

.enlace-volver {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icono-flecha {
    font-size: 24px;
}

@media (max-width: 600px) {
    .barra-azul {
        padding: 5px 0;
    }

    .imagen-logo {
        height: 80px; 
    }

    .tarjeta-blanca {
        padding: 40px 20px;
    }
}

